<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoodMirror</title>
    <link rel="stylesheet" href="/static/homestyles.css">
</head>
<body>
    </div>
    <div class="navbar">
        <div class="logo">MoodMirror</div>
        <div>
            <a href="/journal">New Entry📕</a>
            <a href="/history">History📖</a>
            <a href="/analysis">Analysis📊</a>
            <a href="/reminder">Reminders🔔</a>
        </div>
    </div>
    <div class="header">
        <div class="badge"><h3>Introducing MoodMirror</h3></div>
        <h1>Your emotions, understood</h1>
        <p>Analyze your emotions, track mood patterns, and gain insights into your emotional wellbeing using AI.</p>
        <div class="btn-group">
            <button class="btn btn-primary" onclick="window.location.href='/start'">Lets Get Started➡️</button>
        </div>
    </div>
    <div class="features">
        <div class="feature">
            <h3>Journal📕</h3>
            <p>Express your thoughts and feelings in a safe, private space.</p>
        </div>
        <div class="feature">
            <h3>Insights💡</h3>
            <p>Gain visual insights into your mood patterns over time.</p>
        </div>
        <div class="feature">
            <h3>Calendar📅</h3>
            <p>Track and review your emotional journey day by day.</p>
        </div>
        <div class="feature">
            <h3>Reminders🔔</h3>
            <p>Set up customized reminders to journal regularly.</p>
        </div>
    </div>
</body>
</html>